{#
 * Copyright © Lyra Network.
 * This file is part of Lyra Collect plugin for Shopware. See COPYING.md for license details.
 *
 * @author    Lyra Network <https://www.lyra.com>
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
 #}

{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}
{% block page_checkout_finish_header %}
    {% if app.request.getSession.get('lyraIsCancelledPayment') %}
        <h1 class="finish-header">
            {{ "lyraPaymentCancel"|trans }}
        </h1>

    {% elseif app.request.getSession.get('lyraIsPaymentError') %}
        <h1 class="finish-header">
            {{ "lyraPaymentError"|trans }}
        </h1>
    {% else %}
        {{ parent()}}
    {% endif %}
{% endblock %}