{#
 * Copyright © Lyra Network.
 * This file is part of PayZen plugin for Shopware. See COPYING.md for license details.
 *
 * @author    Lyra Network <https://www.lyra.com>
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/mit-license.html The MIT License (MIT)
 #}

{% block lyrapayment_payzen %}
    <sw-page class="lyrapayment-payzen">
        {% block lyrapayment_payzen_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('lyrapayment-payzen.payzenTitle') }}
                </h2>
            </template>
        {% endblock %}

        {% block lyrapayment_payzen_config_actions %}
            <template #smart-bar-actions>
                {% block lyrapayment_payzen_config_actions_doc %}
                    <sw-button
                            @click="isdocModalOpen = true"
                            :disabled="false"
                            variant="ghost"
                            :square="false"
                            :block="false"
                            :isLoading="false">
                        {{ $tc('lyrapayment-payzen.payzenDoc') }}
                    </sw-button>
                {% endblock %}

                {% block lyrapayment_payzen_config_actions_abort %}
                    <sw-button :routerLink="{ name: 'sw.plugin.index' }">
                        {{ $tc('sw-plugin-config.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block lyrapayment_payzen_config_actions_save %}
                    <sw-button variant="primary" class="lyrapayment-payzen-config__save-action" @click.prevent="onSave">
                        {{ $tc('sw-plugin-config.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block lyrapayment_payzen_config_content %}
            <template #content>
                <sw-modal
                v-if="isdocModalOpen"
                @modal-close="isdocModalOpen = false"
                :title="$tc('lyrapayment-payzen.payzenDoc')"
                class="payzen-doc sw-modal--small">
                    <sw-container columns="1fr">
                        <div class="payzen-doc__col">
                            <div class="payzen-doc__icon">
                                <img class="payzen-doc__payzen-icon" :src="'lyrapaymentpayzen/images/payzen_logo.png' | asset">
                            </div>
                            <p class="payzen-doc__desc">
                                {{ $tc('lyrapayment-payzen.payzenDescription') }}
                            </p>

                            <p class="payzen-doc__docdesc">
                                {{ $tc('lyrapayment-payzen.payzenDocumentationDescription') }}
                            </p>

                            <sw-dashboard-external-link
                                v-for="docFile in docFiles"
                                :name="docFile.name"
                                :title="docFile.title"
                                :link="docFile.link">
                            </sw-dashboard-external-link>
                        </div>
                    </sw-container>
                </sw-modal>

                <sw-card-view>
                    <sw-system-config
                            ref="systemConfig"
                            salesChannelSwitchable
                            inherit
                            domain="LyraPaymentPayzen.config">
                        <template #card-element="{ element, config }">
                            <sw-form-field-renderer
                            v-if="element.name.startsWith('LyraPaymentPayzen.config.payzenPaymentStatusOnSuccess')"
                            :config="{
                                        componentName: 'sw-single-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        options: paymentStatuses,
                                    }"
                            v-model="config[element.name]"/>

                            <sw-form-field-renderer
                            v-else-if="element.name.startsWith('LyraPaymentPayzen.config.payzenLanguage')"
                            :config="{
                                        componentName: 'sw-single-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        options: languages,
                                    }"
                            v-model="config[element.name]"/>

                            <sw-form-field-renderer
                            v-else-if="element.name.startsWith('LyraPaymentPayzen.config.payzenAvailableLanguages')"
                            :config="{
                                        componentName: 'sw-multi-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        options: languages,
                                    }"
                            v-model="config[element.name]"/>

                            <sw-form-field-renderer
                            v-else-if="element.name.startsWith('LyraPaymentPayzen.config.payzenPaymentCards')"
                            :config="{
                                        componentName: 'sw-multi-select',
                                        label: getInlineSnippet(element.config.label),
                                        helpText: getInlineSnippet(element.config.helpText),
                                        options: cardTypes,
                                    }"
                            v-model="config[element.name]"/>

                            <sw-form-field-renderer
                                v-else
                                v-bind="getBind(element)"
                                v-model="config[element.name]"
                                :disabled="isDisabled(element)"
                                v-show="isShown(element)">

                            </sw-form-field-renderer>

                        </template>
                    </sw-system-config>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}